:root {
  --color-text: hsl(0, 0%, 10%);
  --color-background: hsl(0, 0%, 100%);
  --color-border: hsl(0, 0%, 60%);
  --color-code-background: hsl(0, 0%, 96%);
  --color-icon: hsl(0, 0%, 25%);
  --color-button-background: hsl(0, 0%, 92%);
  --color-button-text: var(--color-text);
  --color-button-icon: var(--color-icon);
  --color-button-border: var(--color-border);
  --color-button-disabled-background: hsl(0, 0%, 96%);
  --color-button-disabled-text: hsl(0, 0%, 70%);
  --color-button-disabled-icon: var(--color-button-disabled-text);
  --color-button-selected-background: var(--color-button-text);
  --color-button-selected-text: var(--color-button-background);
  --color-button-selected-icon: var(--color-button-background);
  --color-message-background: hsl(0, 0%, 96%);
  --color-table-odd: hsl(39, 100%, 95%);
  --color-table-border: hsl(0, 0%, 90%);
  --color-popup-border: hsl(0, 0%, 50%);
  --color-danger-text: hsl(0, 50%, 35%);
  --color-danger-icon: hsl(0, 50%, 60%);
  --color-danger-background: hsl(10, 60%, 90%);
  --color-success-text: hsl(120, 50%, 35%);
  --color-success-icon: hsl(120, 50%, 60%);
  --color-success-background: hsl(120, 60%, 90%);
  --color-warning-text: hsl(39, 100%, 25%);
  --color-warning-icon: hsl(39, 100%, 35%);
  --color-warning-background: hsl(39, 100%, 85%);
  --color-focus: hsl(210, 100%, 50%);
  --color-section-background: hsl(0, 0%, 96%);
  --color-section-text: var(--color-text);
  --color-section-icon: var(--color-icon);
  --color-alternate-background: hsl(60, 100%, 95%);
  --gap-button: 1px;
  --gap-tiny: 0.2rem;
  --gap-small: 0.4rem;
  --gap-normal: 0.8rem;
  --gap-medium: 1.25rem;
  --gap-large: 2.5rem;
  --gap-very-large: 3.5rem;
  --border-radius-small: 5px;
  --border-radius-large: 15px;
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
  --max-body-width: 600px;
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 1.1rem;
  --font-size-large: 1.3rem;
}
