.title {
  font-family: var(--font-heading);
  padding: 0;
  margin: 0;
}

.title-heading-1 {
  font-weight: bold;
  font-size: var(--font-size-medium);
}

.title-heading-2 {

}

.title-heading-3 {

}

.title-heading-4 {

}

.title-heading-5 {

}

.title-heading-6 {

}

.title-color-light {
  color: var(--color-light);
}
